absl-py==1.4.0
accessible-pygments==0.0.4
affine==2.4.0
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.13.1
altair==5.4.1
annotated-types==0.5.0
anyio==4.6.2.post1
apache-airflow==2.8.3
apache-airflow-providers-cncf-kubernetes==7.6.0
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.7.1
apache-airflow-providers-ftp==3.5.1
apache-airflow-providers-http==4.5.1
apache-airflow-providers-imap==3.3.1
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-sqlite==3.4.3
apispec==6.3.0
appnope==0.1.4
appscript==1.2.2
argcomplete==3.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
autopep8==2.0.2
babel==2.16.0
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
cachelib==0.9.0
cachetools==5.5.0
catalogue==2.0.8
cattrs==23.1.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
clickclick==20.10.2
cligj==0.7.2
cloudpathlib==0.18.1
colorama==0.4.6
colorlog==4.8.0
comm==0.2.2
confection==0.0.4
ConfigUpdater==3.1.1
connexion==2.14.2
contextily==1.3.0
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==41.0.3
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.7
Cython==3.0.10
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.1.1
distlib==0.3.7
distro==1.9.0
dm-tree==0.1.8
dnspython==2.4.2
docopt==0.6.2
docutils==0.18.1
duckdb==1.2.2
email-validator==1.3.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.1.0
fastjsonschema==2.20.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.4
Fiona==1.9.3
Flask==2.2.5
Flask-AppBuilder==4.3.11
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.5.0
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flatbuffers==24.3.7
flexitext==0.2.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.2.0
funcy==2.0
gast==0.4.0
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
git-filter-repo==2.45.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.11.1
google-auth==2.17.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.3
google-cloud-bigquery-storage==2.22.0
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-pasta==0.2.0
google-re2==1.1
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.57.0
grpcio-status==1.56.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.10.0
hdbscan==0.8.33
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.13.3
idna==3.10
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
inflection==0.5.1
ipykernel==6.29.5
ipympl==0.9.4
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.4
jiter==0.10.0
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-book==0.15.1
jupyter-cache==0.5.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.0.5
keras-nlp==0.4.1
kiwisolver==1.4.7
kubernetes==23.6.0
kubernetes-asyncio==24.2.3
langcodes==3.3.0
latexcodec==2.0.1
lazy-object-proxy==1.9.0
libclang==16.0.0
limits==3.6.0
linkify-it-py==2.0.2
llvmlite==0.40.1
locationtagger==0.0.1
lockfile==0.12.2
looker-sdk==23.12.0
lxml==5.3.0
Mako==1.2.4
marimo==0.14.17
Markdown==3.8
markdown-it-py==2.2.0
MarkupSafe==3.0.1
marshmallow==3.20.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.5
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.4
munch==2.5.0
murmurhash==1.0.9
myst-nb==0.17.1
myst-parser==0.18.1
namex==0.0.7
narwhals==1.13.1
nbclassic==0.5.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
newspaper3k==0.2.8
nltk==3.8.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.57.1
numexpr==2.8.5
numpy==2.1.2
oauthlib==3.2.2
onnx==1.15.0
onnxconverter-common==1.13.0
openai==1.82.1
openpyxl==3.1.2
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opt-einsum==3.3.0
ordered-set==4.1.0
osmnx==1.2.2
overrides==7.7.0
Owlready2==0.41
packaging==24.1
pandas==2.2.3
pandas-gbq==0.19.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.11.2
pathy==0.10.1
patsy==0.5.3
pendulum==2.1.2
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.0.0
pipreqs==0.4.13
platformdirs==4.3.6
plotly==5.15.0
pluggy==1.3.0
polars==1.30.0
preshed==3.0.8
prettymaps==1.0.0
prison==0.2.1
progressbar==2.5
progressbar2==4.2.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
proto-plus==1.22.3
protobuf==5.28.3
psutil==6.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.2
pycodestyle==2.10.0
pycountry==22.3.5
pycparser==2.22
pydantic==1.10.14
pydantic_core==2.6.3
pydata-google-auth==1.8.1
pydata-sphinx-theme==0.13.3
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.8.0
pyLDAvis==3.4.1
pymdown-extensions==10.15
pynndescent==0.5.10
pyorbital==1.7.3
pyparsing==3.2.0
pyproj==3.5.0
pyrsistent==0.19.3
pySankey==0.0.1
pyspark==3.4.1
PyStemmer==2.2.0.1
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-nvd3==0.15.0
python-slugify==8.0.1
python-utils==3.5.2
pytz==2023.3
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.1.2
qtconsole==5.4.2
QtPy==2.3.1
rasterio==1.3.6
rdflib==6.3.2
redis==6.2.0
referencing==0.35.1
regex==2024.5.15
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.5.2
rich-argparse==1.3.0
rpds-py==0.10.2
rsa==4.9
Rtree==1.0.1
ruff==0.11.12
safetensors==0.3.2
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
setproctitle==1.3.2
sgmllib3k==1.0.0
Shapely==1.8.5.post1
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
soupsieve==2.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.1
Sphinx==5.0.2
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.1
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotipy==2.25.1
SQLAlchemy==1.4.49
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlglot==26.23.0
sqlparse==0.4.4
srsly==2.4.6
stack-data==0.6.3
starlette==0.47.0
statsmodels==0.13.5
streamlit==1.39.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.16.1
tensorflow-cpu==2.16.1
tensorflow-estimator==2.11.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-text==2.16.1
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textblob==0.17.1
tf2onnx==1.8.4
thinc==8.2.5
threadpoolctl==3.1.0
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==3.5.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
torch==2.0.1
torchvision==0.15.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.27.4
typer==0.7.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.11.0
tzdata==2023.3
uc-micro-py==1.0.2
umap-learn==0.5.3
unicodecsv==0.14.1
universal-pathlib==0.1.4
uri-template==1.2.0
urllib3==1.26.16
uvicorn==0.34.2
virtualenv==20.26.3
wasabi==1.1.1
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.2.3
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.15.0
WTForms==3.0.1
xgboost==1.7.5
xlwings==0.30.4
xyzservices==2023.2.0
yarg==0.1.9
yarl==1.9.2
zipp==3.16.2
